<!DOCTYPE html>
<html  xmlns:th="http//www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{fragments/main_layout}">
<head>

</head>
<body>
        
        <div layout:fragment="content" class="container">
              <div class="jumbotron">
               <p>Nov 5, 2017 - Thymeleaf is a modern server-side Java template engine for both web and standalone environments. Thymeleaf's main goal is to bring elegant ...</p>
              
              </div>
        
        </div>

    
</body>
</html>